    @media screen and (max-width:1024px){

    .header{
        height: auto;
    }
    .header #text1{
        letter-spacing: 10px;
    }
    .header #text2{
        font-size: 2em;
        letter-spacing: 10px;
    }
       
    .card {
        font-size: 0.67em;
    }
    }
    @media screen and (max-width:768px){

        .header #text1{
            font-size: 0.7em;
            letter-spacing: 6px;
        }
        .header #text2{
            font-size: 1.5em;
            letter-spacing: 8px;
        }
           
        .card {
            font-size: 0.52em;
        }
        .menu a{
        
            font-size: 1em;
    }
}
    @media screen and (max-width:768px){

        .header #text1{
            font-size: 0.7em;
            letter-spacing: 6px;
        }
        .header #text2{
            font-size: 1.5em;
            letter-spacing: 8px;
        }
           
        .card {
            font-size: 0.52em;
        }
        .menu a{
            display: block;
            font-size: 0.6em;
    }
}