@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

section{
    display: inline-block;
    text-align: center;
    width: 80%;
    height: 400px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid red;
    /*border: 1px solid red;*/
}

section h2{
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 2em;
    color:rgb(4, 4, 59);
    margin: 0;
    font-weight: bold;
    margin-top: 2%;
    /*border: 1px solid red;*/
}

.servicos{
    display: inline-block;
    margin-top: 3%;
}

.card{
    display: inline-block;
    font-size: 0.8em;
    width: 30%;
    padding: 35px;
    margin: 1%;
    border: 1px solid tomato;
    border-radius: 10px;
    cursor: pointer;
}

.text-oculto {
    display: none;
}

.card:hover{
    background: tomato;
    color:rgb(4, 4, 59);
    padding: 40px;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .text-oculto{
    display: block;
}
